<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE configuration>  
 
<configuration>  
    <jmxConfigurator />  
    <!-- 配置文件路径 -->  
    <property name="LogPath" value="E:/※NEW/workspaceN/P2P/log" /> 
   
    <!-- 控制台输出日志 -->  
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">  
        <layout class="ch.qos.logback.classic.PatternLayout">  
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>  
        </layout>  
    </appender>  
    
    <!-- 文件输出日志 (文件大小策略进行文件输出，超过指定大小对文件备份)-->  
    <appender name="TRACE" class="ch.qos.logback.core.rolling.RollingFileAppender">  
        <File>${LogPath}/trace.log</File>  
  	    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">  
            <FileNamePattern>${LogPath}/trace_%i.log.zip</FileNamePattern>  
            <MinIndex>1</MinIndex>  
            <MaxIndex>3</MaxIndex>  
        </rollingPolicy>  
        <triggeringPolicy  
            class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">  
            <MaxFileSize>10MB</MaxFileSize>  
        </triggeringPolicy>  
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
	        <layout class="ch.qos.logback.classic.PatternLayout">  
	            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>  
	        </layout>  
        	<Charset>UTF-8</Charset>
        </encoder>
    </appender>
   
      
    <appender name="ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">  
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
        	<level>ERROR</level>
    	</filter>
        <File>${LogPath}/error.log</File>  
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">  
            <FileNamePattern>${LogPath}/error_%i.log.zip</FileNamePattern>  
            <MinIndex>1</MinIndex>  
            <MaxIndex>3</MaxIndex>  
        </rollingPolicy>  
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">  
            <MaxFileSize>10MB</MaxFileSize>  
        </triggeringPolicy>  
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
	        <layout class="ch.qos.logback.classic.PatternLayout">  
	            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>  
	        </layout>  
        	<Charset>UTF-8</Charset>
        </encoder>
    </appender>  

    <appender name="ACCESS" class="ch.qos.logback.core.rolling.RollingFileAppender">  
        <File>${LogPath}/access.log</File>  
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">  
            <FileNamePattern>${LogPath}/access_%i.log.zip</FileNamePattern>  
            <MinIndex>1</MinIndex>  
            <MaxIndex>3</MaxIndex>  
        </rollingPolicy>  
        <triggeringPolicy  
            class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">  
            <MaxFileSize>10MB</MaxFileSize>  
        </triggeringPolicy>  
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
	        <layout class="ch.qos.logback.classic.PatternLayout">  
	            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>  
	        </layout>  
        	<Charset>UTF-8</Charset>
        </encoder>
    </appender>

    <!-- 日志异步到数据库 -->
    <!-- 
	<appender name="DBAppPostgreSQL" class="ch.qos.logback.classic.db.DBAppender">
	  <connectionSource class="ch.qos.logback.core.db.DataSourceConnectionSource">
	    <dataSource class="com.mchange.v2.c3p0.ComboPooledDataSource">
	      <driverClass>org.postgresql.Driver</driverClass>
	      <jdbcUrl>jdbc:postgresql://127.0.0.1:5678/DB</jdbcUrl>
	      <user>YYYYY</user>
	      <password>XXX</password>
	    </dataSource>
	  </connectionSource>
	  <sqlDialect class="ch.qos.logback.core.db.dialect.PostgreSQLDialect" />
	  <insertHeaders>true</insertHeaders>
	</appender>
    -->
  
    <!-- 日志输出级别 -->
    <root level="INFO">
        <appender-ref ref="TRACE" />  
        <appender-ref ref="ERROR" />
        <appender-ref ref="STDOUT" />
    </root> 
    
	<logger name="org.jdbcdslog.ConnectionLogger">
	</logger>
	<logger name="org.jdbcdslog.StatementLogger">
	</logger>
	<logger name="org.jdbcdslog.SlowQueryLogger">
	</logger>
	<logger name="org.jdbcdslog.ResultSetLogger">
	</logger>
    <logger name="com.p2p.global.LoggingFilter">  
        <appender-ref ref="ACCESS" />  
    </logger>
         
</configuration> 